.welcome_box {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.lineUp {
    animation: 4s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
0% {
    opacity: 0;
    transform: translateY(80%);
}
20% {
    opacity: 0;
}
50% {
    opacity: 1;
    transform: translateY(0%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}